<div class="container">

  <p style="float:right">
    <%= image_tag @sitter.avatar.url %>
  </p>

  <div class="container container col-md-3"">
    <p>
      <strong>Name:</strong>
      <%= @sitter.name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @sitter.phone %>
    </p>

    <p>
      <strong>Date of birth:</strong>
      <%= @sitter.date_of_birth %>
    </p>

    <p>
      <strong>Address:</strong>
      <%= @sitter.address %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @sitter.description %>
    </p>

    <p>
      <strong>Last visit:</strong>
      <%= @sitter.user.last_seen %>
    </p>
    </div>


</div>

