<h1>Payments</h1>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.responseCode %></td>
        <td><%= payment.responseMessage %></td>
        <td><%= payment.xref %></td>
        <td><%= payment.amountReceived %></td>
        <td><%= payment.transactionID %></td>
        <td><%= payment.cardNumberMask %></td>
        <td><%= payment.cardTypeCode %></td>
        <td><%= payment.cardType %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
