<%- model_class = Payment -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %></h1>
</div>

<%= form_for @payment, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @payment.errors.any? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <% for message in @payment.errors.full_messages %> 
        <%= message %>
      <% end %> 
    </div>
  <% end %>
  <div class="container col-md-6">

    <div class="controls">
      <%= f.text_field :amount, placeholder: 'Amount' %>
    </div>

    <div class="controls">
      <%= f.text_field :cardNumber, placeholder: 'Card Number' %>
    </div>

    <div class="controls">
      <%= f.text_field :cardCVV, placeholder: 'CVV' %>
    </div>

    <div class="control-group">
      <p><%= f.label :cardExpiryMonth,'Expiry Month & Year', :class => 'control-label' %> <% f.label :cardExpiryYear,'Expiry Year', :class => 'control-label' %></p>
      <div class="controls">
        <p><%= f.select(:cardExpiryMonth, options_for_select(cc_months)) %>   <%= f.select(:cardExpiryYear, options_for_select(cc_years)) %></p>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  payments_path, :class => 'btn' %>
    </div>
    </div>
  </div>
<% end %>

